.auth-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.auth-menu{
    display: flex;
    column-gap: 20px;
}

.auth-menu a{
    text-decoration: none;
}
